:root {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --color-header: #cf220e;
    --color-header-text: #ffffff;
    --color-subheader: #6b6963;
    --color-subheader-text: #c79f26;
}

body {
    background-color: whitesmoke;
}

header {
    background-color: var(--color-header);
    color: var(--color-header-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    background-color: var(--color-subheader);
    color: var(--color-subheader-text);
    margin-bottom: 0;
}

ul {
    margin: 56px 0 0 0;
}

li.list-group-item {
    padding: 0;
}

